{% extends "base.html" %}

{% block title %}Tumo Labs partners{% endblock %}

{% block content %}

<div>
    <h1>Become a partner</h1>
    
    <p>
        TUMO Labs is a great opportunity for students and universities. 
        Participants will gain valuable research skills through hands-on, project-basearchers and technod learning experiences.
    </p>

    <p>
        Additionally, the EU TUMO hub will provide local universities and stakeholders with a shared space to exchange ideas and share resources.
    Student Union at TUMO Labs  will links local students, reselogists to each other and their global peers.
    The Convergence Center includes teaching and training facilities such as TUMO Labs 
    TUMO Labs has kicked off its collaboration with academic institutions in Armenia.
    </p>

    <p>
    TUMO Labs is an initiative of the EU TUMO Convergence Center for Engineering and Applied Science funded by the European Union in partnership with TUMO and the French University in Armenia. 
    The program is a pioneering component of the Convergence Center project that brings together academia and industry to create hands-on, market-relevant learning experiences for university students and young professionals.
    </p>
</div>

{% endblock %}