{% extends "base.html" %}

{% block title %}volunteering{% endblock %}

{% block content %}

<h1>Volunteers</h1>

<p>
    The Student Union couldn't run as well as we do without our Student Volunteers helping us. There are numerous ways you can volunteer with us:
</p>
<ul>
    <li> Be elected as a Member of Parliament</li>
    <li>Apply to be a Class Rep</li>
    <li>Sign up to one of our volunteering opportunities such as Freshers Rep or Events Crew</li>
</ul>

<p>
    Given the nature of volunteering, these positions are not paid - instead, students are giving up their time to help make things better. 
</p>

<p>
    However, volunteers can log the hours they spend working with us through our Volunteer Hours Log - that way the hours you dedicate will be included on your University transcript as evidence of your experience and the skills gained.
</p>
  

{% endblock %}